.programsContent{
    position: relative;
    padding: var(--section-padding-top) 0;
}

.programsContent h2{
    display: inline-block;
    position: relative;
    font-size: 3.5rem;
}

.programsContent h2::after{
     content: '';
     display: inline-block;
     position: absolute;
     top: calc(50% - 4px);
     left: 102%;
     background-color: var(--primary-color);
     width: 8vw;
     height: 8px;
}
.programsContent h2::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 4px);
    right: 102%;
    background-color: var(--primary-color);
    width: 8vw;
    height: 8px;
}

.content{
    padding: 2vw 5%;
}

.programs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.program{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    margin: 2vw 5%;
    padding: 5% 2%;
    background-color: white;
    width: 15%;
    outline: 5px solid var(--primary-color);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.program span{
    font-size: 1.2rem;
}

.program h5{
    color: var(--primary-color);
    text-align: center;
    font-size:2rem;
}

.buttonWrapper{
    margin-top: 2vw;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
.programsContent h2::after{
    width: 12vw;
}

.programsContent h2::before{
    width: 12vw;
}

.content{
    padding: 3vw 5%;
}


.program{
    gap: 2vw;
    margin: 4vw 5%;
    min-height: 15vw;
    padding: 2% 2%;
    background-color: white;
    width: 25%;
    outline: 5px solid var(--primary-color);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}


}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .buttonWrapper{
        margin-top: 4vw;
    }
    .programsContent h2{
        font-size: 2.5rem;
    }
    
    .content{
        padding: 4vw 2.5%;
    }
    .program{
        gap: 2vw;
        margin: 6vw 5%;
        min-height: 28vw;
        padding: 2% 2%;
        background-color: white;
        width: 35%;
        outline: 5px solid var(--primary-color);
        box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    }
    
    .content p{
        margin: 4vw 0;
    }
}