.likeHome{
    position: relative;
    padding: var(--section-padding-top) 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.likeHome h2{
    color: var(--primary-color-dark);
    font-size: 4rem;
    text-align: center;
}

.likeHome p{
    padding: 2vw 10%;
    font-size: 1.6rem;
    line-height: 150%;
    text-align: center;
}

.content{
 padding: 4vw 2vw;
 width: 40%;
 background-color: rgba(255, 255, 255, .9);
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .likeHome p{
        padding: 3vw 10%;
        font-size: 1.6rem;
    }
    .content{
        padding: 6vw 3vw;
        width: 60%;
        background-color: rgba(255, 255, 255, .9);
       }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .likeHome p{
        padding: 5vw 10%;
        font-size: 1.8rem;
    }
    .content{
        padding: 8vw 4vw;
        width: 80%;
        background-color: rgba(255, 255, 255, .9);
       }
}